# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / ZIPs
*.zip
dist/
coverage/

# VSCode / IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Credenciales
.env
*.pem
*.key

# Logs
*.log
